language: python
cache: pip
python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"
matrix:
    include:
        - { python: "3.7", dist: xenial, sudo: true }
install:
    - make bootstrap
script:
    - make
branches:
    except:
        - /^v[0-9]/
after_success: coveralls
